@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap');

:root {
	font-size: 16px;
	font-family: 'Karantina', cursive, sans-serif;
	--text-primary: white;
	--text-secondary: #101823;
	--bg-nav: #2c2f33;
	--bg-navnight: #23272a;
	--bg-aside:#730000;
	--bg-main:#730000;
	--bg-bodynormal:#090914;
	--bg-bodynight:black;


}

body::-webkit-scrollbar{
	width: 6px;
}

body::-webkit-scrollbar-track{
	background: #99aab5;
}
body::-webkit-scrollbar-thumb{
	background:#23272a;
}
body{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

#inventario::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
#inventario::-webkit-scrollbar-thumb{
	background:#99aab5;
}
#inventario::-webkit-scrollbar-track{
	background: #23272a;
}

#text_div::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}


#text_div::-webkit-scrollbar-thumb{
	background:#99aab5;
	
}

#text_div::-webkit-scrollbar-track{
	background: #23272a;
}

*{
	margin: 0;
	padding:0;
	text-decoration: none;
	


}

html,body{
	
	width: 100%;
	font-size: 1.5rem;
}

#videoBG{
	position: fixed;
	z-index: -1;
	
}
@media (min-aspect-ratio: 16/9){
	#videoBG{
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9){
	#videoBG{
		width: auto;
		height: 100%;
	}
}


@media (min-width: 640px){
#container{
	box-sizing: border-box;
	
	width: 100%;
	min-height: 600px;
	
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	align-items: center;


}
/* USUARIO INICIO */
#usuario_info{
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;	
	background-color: var(--bg-bodynormal);
	opacity: 0.9;
	width: 100%;
	height:80px;
	color: white;
	font-weight: 200px;
	text-decoration: none;
	
}
#usuario_info a {
	color: white;
}

#usuario_info a:hover {
	color: #0b0d3d;
	transition: 0.5s ease;
}

#usuario_info img{
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

/* USUARIO FIM */

/*Anotacao INICIO */

#Anotacao_inventario_div{
	
	background-color: var(--bg-bodynormal);
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	opacity: 0.9;
	padding: 5px;
}

#anotacao{
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 300px;
	
	
}

#text_div{
	padding: 10px;
	box-sizing: border-box;
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 3px;
	overflow-y: scroll;
	background-color: white;
	color: black;
	width: 100%;
	height: 300px;
}

#text_div h3{
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 3px;
}

.button_text{
	margin-top: 10px;
	width: 100px;
	height: 32px;
	border:none;
	background-color: #871908;
	color: white;
	font-size: 1rem;
	border-radius: 2px;
}
.button_text:hover{
	transition: 0.5s ease;
	background-color: black;
	color: white;
	cursor: pointer;
}

.anotacao_text{
	margin-top: 10px;
	width: 300px;
	height: 30px;
	border:1px solid white;
	color: white;
	background-color: transparent;
}
.titulo_anot{
	padding: 10px;
	color:white;
	letter-spacing: 3px;
	font-weight: 200;

}

/* Inventario// Anotacao FIM */


/* CALCULOS INICIO */
#calculos{
	box-sizing: border-box;
	width:  40%;
	background-color: var(--bg-bodynormal);
	opacity: 0.9;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 2px;

}
#calculos img {
	width:100%;
	height: auto;
	object-fit: contain;


}
#Dados{
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	padding: 10px;
	margin-top: 20px;
}

#Dados h3{
	 color: white;
	 letter-spacing: 3px;
	 font-weight: 100;
}
.Dados{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	color: black;
}

.list_dados{
	width: 100%;
	height: 20px;
}

.button_dados{
	width: 80px;
	height: 30px;
	border:none;
	margin-top: 10px;
	margin-left: 5px;
	color: white;
	background-color: #871908;
}

.button_dados:hover{
	transition: 0.5s ease;
	cursor: pointer;
	background-color: black;
}


.resultado_dados{
	text-align: center;
	margin-top: 10px;
	margin-left: 12px;
	border:none;
	width: 40%;
	height: 30px;

}

/* CALCULOS FIM */

/* Inventario INICIO */
#inventario{
	box-sizing: border-box;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: auto;
}
#inventario .titulo_anot{
	color:white;
	letter-spacing: 3px;
	font-weight: 200;
	margin-bottom: 20px;
}

#table_inventario{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	font-size: 1.5rem;
	color: white;
	font-weight: 100;
	letter-spacing: 3px;
	text-align: center;
	padding: 2px;

}

#table_inventario td,th{
	color: white;
	border:1px solid white;
	padding: 2px;
}

#inventario_enviar{
	margin-top: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

}
.inventario_enviar{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: white;	
}

.inventario_enviar input{
	color: white;
	width: 200px;
	margin-bottom: 10px;
	height: 30px;
	background-color: transparent;
	border:1px solid white;
	border-radius: 2px;

}

.inventario_enviar button{
	border:none;
	background-color: orange;
	color: white;
	width: 100px;
	height: 30px;
	margin-bottom: 10px;
}

.inventario_enviar button:hover{
	cursor: pointer;
	color: white;
	background-color: black;
	transition: 0.5s ease;

}

.inventario_enviar a span {
	font-size: 1.5rem;
	color: orange;
	font-weight: 200;
	letter-spacing: 3px;
	
}

}


/*##################################### MOBILE VERSION ###################################### */ 

@media screen and (max-width: 640px){
#container{
	transition: 0.5s ease;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;


}


#usuario_info{
	transition: 0.5s ease;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;	
	background-color: #000;
	opacity: 0.8;
	width: 100%;
	color: white;
	font-weight: 200;
	text-decoration: none;
	height: 80px;
}

#usuario_info img{
	width: 75px;
	height: 75px;
	border-radius: 100%;
}
#usuario_info a {
	color: white;
}

#usuario_info a:hover {
	color: orange;
	transition: 0.5s ease;
}





#Anotacao_inventario_div{
	box-sizing: border-box;
	transition: 0.5s ease;
	margin-top:40px;
	background-color: #000;
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	opacity: 0.8;
	padding: 5px;
}

#anotacao{
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 400px;
	
	
}

#text_div{
	box-sizing: border-box;
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 3px;
	overflow-y: scroll;
	padding: 5px;
	background-color: white;
	color: black;
	width: 100%;
	height: 400px;
}

#text_div h3{
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 3px;
}
.button_text{
	margin-top: 10px;
	width: 100%;
	height: 32px;
	border:none;
	background-color: #0b0d3d;
	color: white;
	font-size: 1rem;
	border-radius: 2px;
}
.button_text:hover{
	transition: 0.5s ease;
	background-color: black;
	color: white;
	cursor: pointer;
}

.anotacao_text{

	margin-top: 10px;
	width: 100%;
	height: 30px;
	border:1px solid white;
	color: white;
	background-color: transparent;
}
.titulo_anot{
	padding: 10px;
	color:white;
	letter-spacing: 3px;
	font-weight: 200;

}

/* Inventario INICIO */
#inventario{
	box-sizing: border-box;
	overflow-x: scroll;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: auto;
}
#inventario .titulo_anot{
	color:white;
	letter-spacing: 3px;
	font-weight: 200;
	margin-bottom:5px;
}

#table_inventario{
	margin-top:10px;
	width: 100%;
	height: auto;
	font-size: 1.5rem;
	color: white;
	font-weight: 100;
	letter-spacing: 3px;
	text-align: center;
	padding: 2px;

}

#table_inventario td,th{
	color: white;
	border:1px solid white;
	padding: 2px;
}

#inventario_enviar{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

}
.inventario_enviar{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: white;	
}

.inventario_enviar input{
	color: white;
	width: 200px;
	margin-bottom: 10px;
	height: 30px;
	background-color: transparent;
	border:1px solid white;
	border-radius: 2px;

}

.inventario_enviar button{
	border:none;
	background-color: #0b0d3d;
	color: white;
	width: 100px;
	height: 30px;
	margin-bottom: 10px;
}

.inventario_enviar button:hover{
	cursor: pointer;
	color: white;
	background-color: black;
	transition: 0.5s ease;

}

.inventario_enviar a span {
	font-size: 1.5rem;
	color: orange;
	font-weight: 200;
	letter-spacing: 3px;
	
}

/* CALCULOS INICIO */



#calculos{
	box-sizing: border-box;
	transition: 0.5s ease;
	margin-top:40px;
	width: 80%;
	background-color: #000;
	opacity: 0.8;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 2px;

}

#Dados{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	margin-top: 20px;
}

#Dados h3{
	 color: white;
	 letter-spacing: 3px;
	 font-weight: 100;
}
.dados{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	color: black;
}

.list_dados{
	width: 100%;
	height: 20px;
}

.button_dados{
	width: 80px;
	height: 30px;
	border:none;
	margin-top: 10px;
	margin-left: 5px;
	color: white;
	background-color: #0b0d3d;
}

.button_dados:hover{
	transition: 0.5s ease;
	cursor: pointer;
	background-color: black;
}


.resultado_dados{
	text-align: center;
	margin-top: 10px;
	margin-left: 12px;
	border:none;
	width: 80px;
	height: 20px;

}

/* CALCULOS FIM */

}




.hr_titulo{ 
	margin-bottom: 10px;
	width: 80%;
	border:2px solid white;
	background-color: white;

 }